* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: url(./images/depositphotos_36567413-stock-photo-pizza.jpg) no-repeat center center/cover;
} 

#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 80vh;
    max-width: 80vh;
    background-color: whitesmoke;
    border: 4px solid black
}

h1{
    font-size: 3,25rem;
    width:100%;
    margin: 20px 10px;
}
ul{
    min-height: 100%;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}
.topping{
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 80px;
    color:bisque;
    margin: 15px 0;
    border-radius: 15% 0% 15% 0%;
}

.fondo-marron{
    background-color: #aa5822;
}
.fondo-naranja{
    background-color: #ff7b0f;
}